* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif; }

body {
  color: #666666;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px; }

main section .cart-bg {
  background-image: url(/assets/image/blog-page/bg.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 28vh; }
  main section .cart-bg .cart-title {
    padding: 55px 0 60px;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.5px;
    text-transform: capitalize; }
    main section .cart-bg .cart-title h2 {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 600;
      color: #333; }
    main section .cart-bg .cart-title span {
      background: transparent;
      padding: 0;
      align-items: center;
      justify-content: center; }
      main section .cart-bg .cart-title span a {
        text-decoration: none;
        color: #333; }
    main section .cart-bg .cart-title .active {
      color: #e3a51e; }

main .cart-wrapper {
  padding: 70px 0; }
  main .cart-wrapper .cart-table {
    display: block;
    width: 100%;
    overflow-x: auto; }
    main .cart-wrapper .cart-table .table {
      width: 100%;
      margin: 0;
      background-color: transparent;
      border: 1px solid #dee2e6;
      white-space: nowrap; }
      main .cart-wrapper .cart-table .table thead {
        background-color: #e3a51e;
        outline: none;
        border: hidden; }
        main .cart-wrapper .cart-table .table thead th {
          border-color: #e3a51e;
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          padding: 15px 20px;
          text-align: center;
          text-transform: uppercase;
          width: 140px;
          outline: none; }
      main .cart-wrapper .cart-table .table tbody td {
        border-color: #ccc;
        text-align: center;
        padding: 10px 20px;
        vertical-align: middle;
        color: #333333;
        width: 140px; }
        main .cart-wrapper .cart-table .table tbody td a {
          color: #333333;
          font-weight: 500;
          text-transform: capitalize;
          text-decoration: none;
          background-color: transparent; }
        main .cart-wrapper .cart-table .table tbody td a:hover {
          color: #e3a51e;
          transition: 0.3s linear; }
        main .cart-wrapper .cart-table .table tbody td .calc {
          width: 90px;
          height: 35px;
          border: 1px solid #ddd;
          padding: 0 15px;
          float: left; }
          main .cart-wrapper .cart-table .table tbody td .calc input {
            width: 25px;
            height: 31px;
            border: none;
            cursor: pointer;
            align-items: center;
            text-align: center;
            line-height: 30px;
            padding: 0;
            outline: none;
            overflow: visible;
            background-color: transparent; }
          main .cart-wrapper .cart-table .table tbody td .calc span {
            width: 15px;
            cursor: pointer;
            font-size: 20px;
            color: #666;
            font-weight: 400;
            line-height: 30px; }
  main .cart-wrapper .cart-option {
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-top: none;
    align-items: center;
    display: flex;
    -webkit-box-align: center;
    justify-content: space-between; }
    main .cart-wrapper .cart-option .option-wrapper {
      width: auto; }
      main .cart-wrapper .cart-option .option-wrapper form {
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-box-pack: center;
        white-space: nowrap;
        -webkit-box-align: center; }
        main .cart-wrapper .cart-option .option-wrapper form input {
          border: 1px solid #e3a51e;
          font-size: 14px;
          padding: 12px 10px;
          outline: none;
          margin-right: 15px;
          width: 430px;
          font-style: italic; }
        main .cart-wrapper .cart-option .option-wrapper form button {
          display: block;
          border-radius: 4px;
          padding: 14px 18px;
          background-color: #333;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 400;
          line-height: 1;
          color: #e3a51e;
          outline: none;
          border: none; }
        main .cart-wrapper .cart-option .option-wrapper form button:hover {
          background-color: #e3a51e;
          color: #fff;
          transition: 0.3s linear; }
    main .cart-wrapper .cart-option .cart-update a {
      display: block;
      width: 100%;
      border-radius: 4px;
      padding: 14px 18px;
      background-color: #333;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      color: #e3a51e;
      outline: none;
      border: none;
      text-decoration: none; }
    main .cart-wrapper .cart-option .cart-update a:hover {
      background-color: #e3a51e;
      color: #fff;
      transition: 0.3s linear; }
  main .cart-wrapper .calculator {
    margin-top: 30px;
    background-color: #f8f8f8; }
    main .cart-wrapper .calculator .calculator-desc {
      font-weight: 500; }
      main .cart-wrapper .calculator .calculator-desc h3 {
        color: #333;
        font-size: 18px;
        font-weight: 600;
        padding: 27px 15px 25px;
        margin-bottom: 0; }
      main .cart-wrapper .calculator .calculator-desc .cart-table {
        display: block;
        width: 100%;
        overflow-x: auto; }
        main .cart-wrapper .calculator .calculator-desc .cart-table .table {
          margin-bottom: 0;
          width: 100%;
          margin: 0;
          background-color: transparent;
          border: 1px solid #dee2e6;
          white-space: nowrap; }
          main .cart-wrapper .calculator .calculator-desc .cart-table .table td {
            color: #333;
            padding: 15px 20px; }
          main .cart-wrapper .calculator .calculator-desc .cart-table .table td:nth-child(2) {
            text-align: right; }
          main .cart-wrapper .calculator .calculator-desc .cart-table .table .total {
            color: #e3a51e;
            font-weight: 700; }
    main .cart-wrapper .calculator a {
      border-radius: 0;
      text-align: center;
      align-items: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      color: #e3a51e;
      outline: none;
      padding: 14px 138px;
      background-color: #333;
      text-transform: uppercase;
      text-decoration: none; }
    main .cart-wrapper .calculator a:hover {
      background-color: #e3a51e;
      color: #fff; }
