*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
  color: #666666;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
}
main{
    section{
        .blog-bg{
            background-image: url(/assets/image/blog-page/bg.jpeg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat; 
            height: 28vh;        
            .blog-title{
                padding: 55px 0 60px;
                text-align: center;
                font-size: 16px;
                line-height: 1;
                letter-spacing: 0.5px;
                text-transform: capitalize;
                h2{
                    font-size: 24px;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: #333;
                }
                span{
                    background: transparent;
                    padding: 0;
                    align-items: center;
                    justify-content: center;
                    a{
                        text-decoration: none;
                        color: #333;
                    }
                }
                .active{
                    color: #e3a51e;
                }
            }
            .blog-title:hover{
                color: #e3a51e;
                transition: 0.3s linear;
            }
        }
    }
    .blog-bg{
        margin-bottom: 70px;
        .container {
            .blog-title {
                text-align: center;
                color: #333;
                margin-top: 0;
                h2 {
                    font-size: 24px;
                    line-height: 1.3;
                    text-transform: capitalize;
                    font-weight: 600;
                }
                p {
                    font-size: 16px;
                    letter-spacing: 1px;
                    line-height: 1;
                }
            }
            .blog-item {
                .blog-img {
                    a {
                        text-decoration: none;
                        img {
                            width: 100%;
                        }
                    }
                }
                .blog-content {
                    // padding-top: 20px;
                    // margin-bottom: -10px;
                    h5 {
                        color: #333333;
                        letter-spacing: 0.5px;
                        font-size: 18px;
                        font-weight: 900;
                        line-height: 1;
                        padding-bottom: 30px;
                        color: #333;
                        a {
                            text-decoration: none;
                            color: #333;
                            background-color: transparent;
                        }
                        a:hover {
                            color: #e3a51e;
                            transition: 0.4s linear;
                        }
                    }
                    .smal-info {
                        padding-bottom: 20px;
                        span {
                            display: inline-block;
                            font-size: 14px;
                            color: #666;
                            b {
                                color: #333;
                            }
                        }
                    }
                    a {
                        font-weight: 400;
                        font-size: 15px;
                        text-decoration: none;
                        color: #333;
                    }
                    a:hover {
                        color: #e3a51e;
                        transition: 0.4s linear;
                    }
                }
            }
        }
    }
    .number{
        padding: 20px 0 18px;
        border: 1px solid #e5e5e5;
        text-align: center;
        margin-bottom: 100px;
        ul{
            li{
                display: inline-block;
                margin-right: 10px;
                border: 5px;
                a{
                    text-decoration: none;
                    color: #333333;
                    height: 40px;
                    width: 40px;
                    display: inline-block;
                    padding: 0 10px;
                    text-align: center;
                    line-height: 37px;
                    border: 1px solid #e5e5e5;
                    border-radius: 4px;
                }
                a:hover{
                    background-color: #e3a51e;
                    color: #fff;
                    border-radius: none;
                    outline: none;
                }
            }           
            .active{
                display: inline-block;
                margin-right: 10px;
                a{
                    color: #fff;
                    border-color: #e3a51e;
                    background-color: #e3a51e;
                }
            }
        }                  
    }
}