*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
  color: #666666;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
}
main{
    section{        
        .contact-us{
            background-image: url(/assets/image/blog-page/bg.jpeg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 0;
            .contact-title{
                padding: 55px 0 60px;
                text-align: center;
                font-size: 16px;
                line-height: 1;
                letter-spacing: 0.5px;
                text-transform: capitalize;
                margin-bottom: 100px;
                h2{
                    font-size: 24px;
                    padding-bottom: 15px;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: #333;
                    margin-bottom: 0;
                }
                span{
                    background: transparent;
                    // margin-bottom: 0;
                    padding: 0;
                    align-items: center;
                    a{
                        text-decoration: none;
                        color: #333;
                    }
                }
                .active{
                    color: #e3a51e;
                }
            }
            .contact-text{
                h2{
                    letter-spacing: 0.5px;
                    color: #333;
                    font-size: 24px;
                    line-height: 1;
                    font-weight: 600;
                    margin-top: -4px;
                    text-transform: capitalize;
                    padding-bottom: 30px;
                }
                .contact-form{
                    input{
                        width: 100%;
                        border: none;
                        padding: 10px 10px;
                        border-bottom: 3px solid transparent;
                        background-color: #f3f6f5;
                        margin-bottom: 30px;
                        font-style: italic;
                        font-size: 16px;
                    }
                    textarea{
                        width: 100%;
                        border: none;
                        padding: 10px 10px;
                        border-bottom: 3px solid transparent;
                        background-color: #f3f6f5;
                        margin-bottom: 30px;                                          
                    }
                    .textarea{
                        button{
                            border: none;
                            outline: none;
                            border-radius: 5px;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 1;
                            color: #e3a51e;
                            outline: none;
                            transition: 0.3s linear;
                            display: inline-block;
                            padding: 14px 25px;
                            background-color: #333333;
                            text-transform: uppercase;
                        }
                        button:hover{
                            color: #fff;
                            background-color: #e3a51e;
                        }
                    }
                }
            }
            .contact-info{
                h2{
                    color: #333;
                    font-size: 24px;
                    line-height: 1;
                    font-weight: 600;
                    margin-top: -4px;
                    text-transform: capitalize;
                    padding-bottom: 30px;
                }
                p{
                    color: #666;
                    padding-bottom: 30px;
                }
                ul{
                    li{
                        border-bottom: 1px solid #e5e5e5;
                        padding-bottom: 15px;
                        margin-bottom: 15px;
                        i{
                            font-size: 18px;
                            padding-right: 10px;
                        }                      
                    }
                }
                .working-time{
                    color: #333;
                    font-size: 16px;
                    font-weight: 600;
                    padding-bottom: 5px;
                    p{
                        color: #666;
                        padding-bottom: 30px;
                        span{
                            padding-right: 10px;
                            color: #666;
                        }
                    }                  
                }
            }
            
        }
    }
}
