* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    color: #666666;
    font-weight: 400;
    line-height: 1.7;
    font-size: 16px;
}
.product-details{
    .product-details-wrapper{
        cursor: pointer;
        .product-wrapper-img{
            margin: 0 5px;
            overflow: hidden;

            // box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.3);
            height: 500px;
            width: 500px;
            img{
                transform-origin: center center;
                object-fit: cover;
                height: 100%;
                width: 100%;
                border: 1px solid #ededed;
            }
                      
        }        
        .product-mini-img{
            gap: 15px;
            overflow: hidden;
            .mini-img{
                overflow: hidden;
                img{
                    border: 1px solid #ededed;
                }
               
            }
        }
        .product-details-desc{
            padding-left: 50px;
            h3{
                font-size: 24px;
                font-weight: 500;
                color: #333;
                letter-spacing: 1px;
                padding-bottom: 10px;
                text-transform: capitalize;
            }
            .review{
                span{
                    a{
                        color: #e3a51e;
                        font-size: 14px;
                        text-decoration: none;
                        background-color: transparent;
                    }
                }
            }
            .price{
                padding-top: 10px;
                padding-bottom: 0;
                font-size: 18px;
                font-weight: 500;
                color: #333;
                line-height: 1;
                del{
                    text-decoration: line-through;
                }
            }
            p{
                padding-top: 15px;
                padding-bottom: 20px;
            }
            .quantity {
                display: flex;             
                align-items: center;
                margin-right: 15px;
                margin-bottom: 20px;
               .mini-pro{
                    width: 90px;
                    height: 46px;
                    border: 1px solid #ddd;
                    padding: 0 15px;
                    float: left;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span{
                        width: 15px;
                        display: block;
                        float: left;
                        line-height: 46px;
                        cursor: pointer;
                        text-align: center;
                        font-size: 22px;
                        color: #666666;
                    }
                    input{
                        border: none;
                        outline: none;
                        float: left;
                        width: 28px;
                        height: 46px;
                        padding: 0;
                        text-align: center;
                        background-color: transparent;
                    }
               }
               a{
                    text-decoration: none;
                    border-radius: 4px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1;
                    color: #e3a51e;
                    outline: none;
                    display: inline-block;
                    padding: 14px 25px;
                    background-color: #333;
                    text-transform: uppercase;
                    margin-left: 12px;
               }
               a:hover{
                   background-color: #e3a51e;
                   color: #fff;
                   transition: 0.3s linear;
               }
            }
            .stock{
                display: flex;
                align-items: center; 
                margin-top: 24px; 
                h5{
                    font-weight: 500;
                    color: #333;
                    font-size: 18px;
                    line-height: 1;
                    margin-right: 10px;
                    letter-spacing: 1px;
                }
                span{
                    color: #22dd77;
                    font-size: 14px;
                    padding-left: 3px;
                }          
            }
            .share-icon{
                display: flex;
                align-items: center;
                h5{
                    font-size: 14px;
                    line-height: 1;
                    margin-right: 10px;
                    font-weight: 600;
                    color: #333;
                    letter-spacing: 1px;
                }
                a{
                    text-decoration: none;
                    margin-right: 6px;
                    border: 1px solid #e5e5e5;
                    padding: 0 8px;
                    font-size: 16px;
                    line-height: 36px;
                    display: inline-block;
                    align-items: center;width: 36px;
                    height: 36px;
                    color: #666;
                }
                a:hover{
                    background-color: #e3a51e;
                    color: #fff;
                    transition: 0.3s linear;
                }
            }
        }
    }
}
.product-details-information{
    margin-top: 50px;
    .product-review-info{
        .nav-desc{
            margin-left: -30px;
            display: flex;
            gap: 1px;
            margin-bottom: 0;
            li{
                .active{
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #666;
                    background-color: #fff;
                    font-weight: 600;
                    font-size: 15px;
                    margin-left: -2px;
                }
                a{
                    text-decoration: none;
                    color: #fff;
                    display: block;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 18px;
                    text-transform: uppercase;
                    padding: 8px 10px;
                    border: 1px solid #ededed;
                    border-bottom: none;
                    background-color: #979898;
                }
                a:hover{
                    background-color: #fff;
                    color: #666;
                    transition: 0.3s linear;
                }
            }
        }
        .review-tab{
            border: 1px solid #ededed;
            padding: 15px 20px 20px;
            .tab{
                height: auto;
                opacity: 1;
                overflow: visible;
                visibility: visible;
                .p-lorem{
                    p{
                        margin-bottom: 0;
                    }
                    .tab-img-block{
                        display: flex;
                        align-items: center;
                        padding-top: 25px;
                        padding-bottom: 25px;
                        .tab-img{
                            flex-basis: 300px;
                            img{
                                width: 100%;
                            }
                        }
                        .tab-title{
                            padding-left: 4 0px;
                            flex-basis: calc(100% - 300px);
                            h3{
                                margin-left: 30px;
                                font-weight: 500;
                                text-transform: capitalize;
                                padding-bottom: 0;
                                margin-bottom: 0;
                                color: #e3a51e;
                                font-size: 20px;
                                letter-spacing: 1px;
                                // line-height: 1px;
                            }
                            ul{
                                li{
                                    padding: 3px 0;
                                    list-style: disc;
                                    margin-top: -4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}